[submodule "fprime"]
	path = fprime
	url = http://github.com/nasa/fprime.git
	branch = devel
[submodule "fprime-arm-linux"]
	path = fprime-arm-linux
	url = https://github.com/fprime-community/fprime-arm-linux.git
